{
	"data": "ENC[AES256_GCM,data:oOcpOFdE55sx0EPOEEvyy+NJnj2FMWk6opm8xB6Iu1jWkZpM0DQnPy4RbknRoI1XkHyDCjS79NGJ5ZudHkB4VDNob27kfnnDbbYSD/YczJHfwpiuuvp3EmESDNc6UcfWcDElY6EpYVeMlqGiu9xC30PWMbBC1+WfyTHz8rsaXq5v0H3iuLKzu6sRUObVA9Of58pE6vzfhUyz37XHaPgtuMcUBxAt0WEBg4K+J3XIwni6cFrfLo8IANB0/vQbm5LUkAe3WX0+szZoZQ==,iv:UcE7ByJ9vLOyQ5FfNhn6egZppu5NCPa4XItocRn2GV8=,tag:cVcWezW/ftfjOkFpkuveZw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBUQ3pQTUtkRkwwTEs2T0dJ\nVDNvUTE3UDA0UlBtTjRZbUVpREFVRnAvaVJzCkN5Q1I4YmpvS3FTTjIreHB1STYx\nSjVGelp5RnNHRlhkbVFOSjd0TFIrdlEKLS0tIDNseTJyY25xWXBkRFVWZ3VMd2My\namJtSnlNWjJKS1BEdDlzTUNQcnN5M0kKmm3vxUG6XIX/8yIF34dIzBNn2Ih0Lr/n\nVhABzQ+cS9cxFE04zZTEBNlIAy6mktIb841wytCM//kOI5eQtHRKkA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-04-29T07:21:37Z",
		"mac": "ENC[AES256_GCM,data:YJ2IxCdId/Sr/KJcD7a0JYMwitTxNik2T4hxKLH4HCARGsIk86je/EIYMl5qrxcvssueGOZf2Va5/t5KMVR0NHYaGhvDQHBiq8lAgA+4AxmJOjEI7vgdKWs8vCYg4Z9BGwR/jkiqw/bt5N6l7+BvttdeXIJu7far5t7+R04g9XQ=,iv:7ZV/P+GFRR/Y1BXmcwtymz1rqaFR6o2ynLWi2/8eI4I=,tag:Awu9S5LV4dZYEF96agIbGA==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.1"
	}
}
