#header {
  font-size: 0.9rem !important;
}

body {
  background: #e6e8ec;
}

.title-h1h2 h1 {
  font-weight: 200;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  font-size: 2rem;
}

/* #footer {
  display: none !important;
} */
