<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Made with <i class="fa fa-terminal"></i> by Timothy Bryant &mdash; &copy; {{ "now"|date("Y") }}</p>
    </section>
</section>
